.otpContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f9f9f9;
  }
  
  .formBox {
    width: 400px;
    background-color: white;
    padding: 40px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }
  
  .title {
    font-size: 24px;
    font-weight: bold;
    color: #5e2a84;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .otpForm {
    display: flex;
    flex-direction: column;
  }
  
  .otpForm input {
    margin-bottom: 20px;
  }
  
  .verifyButton {
    background-color: #5e2a84;
    color: white;
    padding: 12px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
  }
  
  .verifyButton:hover {
    background-color: #4d1f6b;
  }
  